@charset "utf-8";
	.path27_6_
{
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 1);
	border-width : 2px;
}
.path27_5_
{
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 1);
	border-width : 2px;
}
.NormalCharacterStyle4
{
	font-family : lato;
	font-size : 34px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle3
{
	font-family : lato;
	font-size : 34px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle1
{
	font-family : Gotham Rounded;
	font-size : 19px;
	letter-spacing : -0.38px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle
{
	font-family : Gotham Rounded;
	font-size : 19px;
	letter-spacing : -0.38px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle2
{
	font-family : Gotham Rounded;
	font-size : 15px;
	letter-spacing : -0.3px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.path27_4_
{
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 1);
	border-width : 2px;
}
.path27_2_
{
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 1);
	border-width : 2px;
}
.path27_3_
{
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 1);
	border-width : 2px;
}
.path27_1_
{
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 1);
	border-width : 2px;
}
